.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  align-items: center;
  width: 100%;
  height: 100px;
  background: linear-gradient(0deg, #464341 0%, #010101 100%);
}

.header-logo {
  margin-left: 260px;
  margin-right: 10px;
}
.header-title {
  position: absolute;
  width: 170px;
  height: 32px;
  color: #ffffff;
}

.header-number {
  margin-right: 260px;
  width: 228px;
  height: 32px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}

.header-number-small {
  height: 30px;
  margin: 10px;
}

@media (max-width: 960px) {
  .header-number {
    display: none;
  }
  .header {
    justify-content: space-between;
  }
  .header-logo {
    margin-left: 15px;
  }
  .header-number-small {
    padding-right: 15px;
  }
}

@media (min-width: 961px) {
  .header-number-small {
    display: none;
  }
}
